@model List<DAL.Producto>
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Productos</h2>

<a href="/productos/alta">Crear Producto</a>
<table>
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
    </tr>

    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Nombre</td>
            <td>@p.Precio</td>
        </tr>
    }

</table>

